# Python
__pycache__/
*.pyc
*.pyo

# Environments
venv/
backend/venv/

# Env files
.env
backend/.env
frontend/.env

# Uploads
uploads/
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/

# OS junk
.DS_Store
Thumbs.db